<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Tracer</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="image">
        <img src="../static/Images/632c087aa2678b129e6d4cbb_gps-map-route-destination-network-connection-location-street-map-with-gps-icons-navigation-min-p-1080.jpg" width="100%" alt="">
    </div>
    <h1 class="lo">Location Tracer</h1>
    <h1 class="bo">{{box}}</h1>
    <h1 class="ba">{{bag}}</h1>
    <form method="post">
        <input type="text" class="num" placeholder="enter country code with number" name="track"><br><br>
        <input type="submit" class="sub">
    </form>
    
</body>
</html>